ShapeDrawing/ShapeDrawing/ShapeDrawing/bin/Debug/ShapeDrawing.exe
ShapeDrawing/ShapeDrawing/ShapeDrawing/bin/Debug/ShapeDrawing.pdb
ShapeDrawing/ShapeDrawing/ShapeDrawing/bin/Debug/ShapeDrawing.vshost.exe
ShapeDrawing/ShapeDrawing/ShapeDrawing/bin/Debug/ShapeDrawing.vshost.exe.manifest
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/GenerateResource.read.1.tlog
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/GenerateResource.write.1.tlog
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.csproj.FileListAbsolute.txt
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.exe
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.pdb
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.Properties.Resources.resources
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ResolveAssemblyReference.cache
ShapeDrawing/ShapeDrawing/ShapeDrawing/obj/x86/Debug/ShapeDrawing.csproj.GenerateResource.Cache
